<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your title here</title>
    
    <link rel="stylesheet" href="../../sources/stylesheet.css">
    <link rel="icon" type="image/png" href="../../sources/favicon.png" />
    <style>
        body {
            background-image: url('../../sources/cloud2a.jpg');
        }
    </style>
    <!--Add more scripts as needed-->
    <script src="../../sources/scrollControlJS.js" defer></script>
    <script type="module" src="../../sources/footer_update_version.js" defer></script>
</head>
<body>
    <div class="page-wrapper">
        <header>
            <nav>
                <!-- Add links as needed -->
            </nav>
            <h1>Your title here</h1>
            <noscript>
                <p style="color: red;">JavaScript is required for this tool to work. Please enable JavaScript.</p>
            </noscript>
        </header>
        <!-- Add sections here -->
    </div> <!-- Closing the page-wrapper div -->

    <a href="#top" class="scroll-top" aria-label="Back to top">⬆︎ Back to top</a>

    <footer>
        <p>© 2025 The ULTIMATE Spelling Rule Applier by <a href="https://github.com/urbanetrex">urbanetrex</a>.</p>
        <p>Version <span class="footer-mark-version">Loading/Unknown</span>. For more information, visit our <a href="../../releases/releases.html">Releases Page</a>.</p>
        <p>Contribute here on GitHub: <a href="https://github.com/urbanetrex/cdn/tree/main/html/SM-LVD">https://github.com/urbanetrex/cdn/tree/main/html/SM-LVD</a></p>
    </footer>
</body>
</html>
